<div class="header" style="background-color: #953E46">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3><b>Social</b>Network</h3>
      </div>
      <div class="col-md-6 search-view">
        <div class="input-container">
          <input type="text" placeholder="Find.." name="search" class="search-input">
          <i class="material-icons icon">search</i>
        </div>
      </div>
      <div class="col-md-3 upload-view">
        <div class="row">
          <div class="col-md-4">
            <button type="button" class="btn-upload pull-left">
              <span class="btn-text">
                <i class="material-icons">arrow_upward</i>&nbsp;
              </span>
              <span class="btn-text">Upload</span>
            </button>
          </div>
          <div class="col-md-8" style="padding-left: 10px">
            <div class="row">
              <button type="button" class="btn-upload pull-left">
                <span class="btn-text">
                  <i class="material-icons">person</i>&nbsp;
                </span>
              </button>
              <p class="user-desc"><b class="semi-bold">Waseem</b></p><br/>
              <p class="user-desc">Arshad</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <hr/>
    <!-- HORIZONTAL MENU -->
    <div class="row">
      <p class="list-menu" *ngFor="let item of menu">&nbsp; {{item}} / &nbsp;</p>
      <!-- <p class="list-menu">Videos &nbsp;/&emsp; People &emsp;/&emsp; Documents &emsp;/&emsp; Events &emsp;/&emsp; Communities &emsp;/&emsp; Favorites &emsp;/&emsp; Channels</p> -->
    </div>
    <hr/>
    <br/>
    <!-- VIDEOS & ACTIVITY -->
    <div class="row">
      <div class="col-md-5 col-sm-6 col-xs-12" style="padding-right: 0">
        <div class="menu-header">
          <div class="row">
            <div class="col-md-4">
                <p class="menu-title">Videos</p>
            </div>
            <div class="col-md-8">
              <p class="description">Browse all videos</p>
            </div>
          </div>
        </div>
        <div class="menu-body">
          <hr style="margin-bottom: 0"/>
          <div class="video-frame-large"></div>
          <div class="row">
            <div class="col-md-6" style="padding-right: 8px">
              <div class="video-frame-medium"></div>
            </div>
            <div class="col-md-6" style="padding-left: 8px">
              <div class="video-frame-medium"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="padding-left: 16px">
        <div class="menu-header">
          <p class="menu-title" style="color: #953E46">Videos</p>
        </div>
        <div class="menu-body">
          <hr style="margin-bottom: 0"/>
          <div class="video-frame-medium"></div>
          <div class="video-frame-medium"></div>
          <div class="video-frame-medium-empty">
            <div class="row">
              <div class="col-md-4">
                <i class="far fa-arrow-alt-circle-up pull-right"></i>
              </div>
              <div class="col-md-8">
                <div class="video-frame-medium-content">
                  <p>Upload</p>
                  <p>Your Own Video</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="menu-header">
          <div class="row">
            <div class="col-md-4">
              <p class="menu-title">Activity</p>
            </div>
            <div class="col-md-8">
              <p class="description">View timeline/ Filter activities</p>
            </div>
          </div>
        </div>
        <div class="menu-body">
          <hr class="title-separator"/>
          <div class="row">
            <div class="col-md-4">
              <div class="video-frame-extrasmall"></div>
            </div>
            <div class="col-md-8 user-description">
              <div>
                <p class="comment"><b class="semi-bold">John Stainior</b> commented</p>
                <p class="comment">Well, I think you have a good voice..</p>
                <p class="comment">2 seconds ago</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="video-frame-extrasmall"></div>
            </div>
            <div class="col-md-8 user-description">
              <div>
                <p class="comment"><b class="semi-bold">John Stainior</b> commented</p>
                <p class="comment">Well, I think you have a good voice..</p>
                <p class="comment">2 seconds ago</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="video-frame-extrasmall"></div>
            </div>
            <div class="col-md-8 user-description">
              <p class="comment"><b class="semi-bold">Minarni Debora</b> commented</p>
              <p class="comment">Well, I think you have a good voice..</p>
              <p class="comment">2 seconds ago</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="video-frame-extrasmall"></div>
            </div>
            <div class="col-md-8 user-description">
              <p class="comment"><b class="semi-bold">Minarni Debora</b> commented</p>
              <p class="comment">Well, I think you have a good voice..</p>
              <p class="comment">2 seconds ago</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="video-frame-extrasmall"></div>
            </div>
            <div class="col-md-8 user-description">
              <p class="comment"><b class="semi-bold">Minarni Debora</b> commented</p>
              <p class="comment">Well, I think you have a good voice..</p>
              <p class="comment">2 seconds ago</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="video-frame-extrasmall" style="margin-bottom: 5px;"></div>
            </div>
            <div class="col-md-8 user-description">
              <p class="comment"><b class="semi-bold">Minarni Debora</b> commented</p>
              <p class="comment">Well, I think you have a good voice..</p>
              <p class="comment">2 seconds ago</p>
            </div>
          </div>
          <hr style="margin-top: 14px;"/>
        </div>
      </div>
    </div>
    <br/>

    <!-- PEOPLE, DOCUMENTS & CHANNELS -->
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="row">
          <!-- PEOPLE -->
          <div class="col-md-8 col-sm-6 col-xs-12" style="padding-right: 0">
            <div class="menu-header">
              <div class="row">
                <div class="col-md-4">
                    <p class="menu-title">People</p>
                </div>
                <div class="col-md-8">
                  <p class="description">View all</p>
                </div>
              </div>
            </div>
            <div class="menu-body">
              <hr style="margin-bottom: 0"/>
              <div class="video-frame-large"></div>
              <div class="row">
                <div class="col-md-6" style="padding-right: 8px">
                  <div class="video-frame-medium"></div>
                </div>
                <div class="col-md-6" style="padding-left: 8px">
                  <div class="video-frame-medium"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12" style="padding-left: 16px">
            <div class="menu-header">
              <p class="menu-title" style="color: #953E46">Videos</p>
            </div>
            <div class="menu-body">
              <hr style="margin-bottom: 0"/>
              <div class="video-frame-medium"></div>
              <div class="video-frame-medium"></div>
              <div class="video-frame-medium-empty">
                <div class="row">
                  <div class="col-md-4">
                    <i class="far fa-arrow-alt-circle-up pull-right"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="video-frame-medium-content">
                      <p>Show</p>
                      <p>Your Work</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><br/>
        <div class="row">
          <!-- DOCUMENTS -->
          <div class="col-md-8 col-sm-6 col-xs-12" style="padding-right: 0">
            <div class="menu-header">
              <div class="row">
                <div class="col-md-4">
                  <p class="menu-title">Documents</p>
                </div>
                <div class="col-md-8">
                  <p class="description">View all</p>
                </div>
              </div>
            </div>
            <div class="menu-body">
              <hr style="margin-bottom: 0"/>
              <div class="video-frame-large"></div>
              <div class="row">
                <div class="col-md-6" style="padding-right: 8px">
                  <div class="video-frame-medium"></div>
                </div>
                <div class="col-md-6" style="padding-left: 8px">
                  <div class="video-frame-medium"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12" style="padding-left: 16px">
            <div class="menu-header">
              <p class="menu-title" style="color: #953E46">Videos</p>
            </div>
            <div class="menu-body">
              <hr style="margin-bottom: 0"/>
              <div class="video-frame-medium"></div>
              <div class="video-frame-medium"></div>
              <div class="video-frame-medium-empty">
                <div class="row">
                  <div class="col-md-4">
                    <i class="far fa-arrow-alt-circle-up pull-right"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="video-frame-medium-content">
                      <p>Show</p>
                      <p>Your Work</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CHANNEL -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="menu-header">
          <div class="row">
            <div class="col-md-4">
              <p class="menu-title">Channels</p>
            </div>
            <div class="col-md-8">
              <p class="description">Browse all channels</p>
            </div>
          </div>
        </div>
        <div class="menu-body">
          <hr class="title-separator"/>
          <div class="row">
            <div class="col-md-6" style="padding-right: 7px">
              <div class="video-frame-small"></div>
            </div>
            <div class="col-md-6" style="padding-left: 7px">
              <div class="video-frame-small"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="padding-right: 7px">
              <div class="video-frame-small"></div>
            </div>
            <div class="col-md-6" style="padding-left: 7px">
              <div class="video-frame-small"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="padding-right: 7px">
              <div class="video-frame-small"></div>
            </div>
            <div class="col-md-6" style="padding-left: 7px">
              <div class="video-frame-small"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="padding-right: 7px">
              <div class="video-frame-small"></div>
            </div>
            <div class="col-md-6" style="padding-left: 7px">
              <div class="video-frame-small"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="padding-right: 7px">
              <div class="video-frame-small"></div>
            </div>
            <div class="col-md-6" style="padding-left: 7px">
              <div class="video-frame-small"></div>
            </div>
          </div>
          <hr style="margin-top: 10px;"/>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <!-- <hr/>
    <footer>
      <p>About  /  For Business  /  Suggestions  /  Help & FAQs  /  Contacts  /  Pricing</p>
    </footer> -->
  </div>
</div>